backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

site_url: https://veloria-style1.netlify.app
display_url: https://veloria-style1.netlify.app
